<style>
    
            html
            {
                font-size: 100%;
            }

            @media (min-width: 640px)
            {
                body
                {
                    font-size: 1rem;
                }
            }

            @media (min-width: 960px)
            {
                body
                {
                    font-size: 1.2rem;
                }
            }
          
            @media (min-width: 1100px)
            {
                body
                {
                    font-size: 1.5rem;
                }
            }

            .demoo
            {
                font-size: 28px;
                font-family: sans-serif;
            }

            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                margin-top: 40px;
                font-family: serif;
                text-align: center;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;;
            }

           .bgimage 
            {
               
               margin-left: 5px;
               margin-bottom: 10px;
               margin-right: 5px;
               margin-top: 10px;
               max-width: 100%;
               height:90vh;
               background: url('https://www.sitel.com/wp-content/uploads/2020/02/healthcare-banner.jpg');
               opacity: 0.8;
               background-size: cover;
               position: relative;
            }
          
           .hero_title 
            {
               font-size: 4.5rem;
               color: aliceblue;
            }
            
           .hero_desc 
            {
              font-size: 2rem;
            }
           .hero-text 
            {
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: beige;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
                font-size: 20px;
            }
             
            .row
            {
                font-size: 20px;
                font-family: 20px;
            }

            .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }

        </style>
        
        
