<style>

            html
            {
                font-size: 100%;
            }

            @media (min-width: 320px)
            {
                body
                {
                    font-size: 0.7rem;
                }
                
                .demoo
            {
                font-size: 28px;
                font-family: sans-serif;
                font-size-adjust: auto;
            }
    
            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
                font-size: 20px;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
                font-size: 20px;
            }
           
            .image
            {
                display: block;
                max-width: 100%;
                height: 400px;
                width: 800px;
                margin-bottom: 20px;
                margin-top: 80px;
                border: solid;
            }   

          * {
                box-sizing: border-box;
            }

            .openBtn 
            {
               display: flex;
               justify-content: left;
            }

            .openButton 
            {
               border: none;
               border-radius: 5px;
               background-color: #1c87c9;
               color: white;
               padding: 14px 20px;
               cursor: pointer;
               position: fixed;
            }

            .loginPopup 
            {
               position: relative;
               text-align: center;
               width: 100%;
            }

           .formPopup 
            {
               display: none;
               position: fixed;
               left: 45%;
               top: 5%;
               transform: translate(-50%, 5%);
               border: 3px solid #999999;
               z-index: 9;
               background-color: burlywood;
               margin-top: 50px;
               margin-left: 60px;
             }

           .formContainer '
             {
               max-width: 300px;
               padding: 20px;
               background-color: beige;
             }

            .formContainer input[type=tex], .formContainer input[type=password] 
             {
               width: 100%;
               padding: 15px;
               margin: 5px 0 20px 0;
               border: none;
               background: #eee;
             }

            .formContainer input[type=text]:focus, .formContainer input[type=password]:focus 
             {
              background-color: #ddd;
              outline: none;
             }

            .formContainer .btn {
              padding: 12px 20px;
              border: none;
              background-color: #8ebf42;
              color: #fff;
              cursor: pointer;
              width: 100%;
              margin-bottom: 15px;
              opacity: 0.8;
             }

            .formContainer .cancel 
             {
              background-color: #cc0000;
             }

            .formContainer .btn:hover, .openButton:hover 
             {
             opacity: 1;
             }

             .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }
            }

            @media (min-width: 640px)
            {
                body
                {
                    font-size: 1rem;
                }
                
                .demoo
            {
                font-size: 28px;
                font-family: sans-serif;
            }
    
            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
                font-size: 20px;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
                font-size: 20px;
            }
           
            .image
            {
                display: block;
                max-width: 100%;
                height: 400px;
                width: 800px;
                margin-bottom: 20px;
                margin-top: 80px;
                border: solid;
            }   

          * {
                box-sizing: border-box;
            }

            .openBtn 
            {
               display: flex;
               justify-content: left;
            }

            .openButton 
            {
               border: none;
               border-radius: 5px;
               background-color: #1c87c9;
               color: white;
               padding: 14px 20px;
               cursor: pointer;
               position: fixed;
            }

            .loginPopup 
            {
               position: relative;
               text-align: center;
               width: 100%;
            }

           .formPopup 
            {
               display: none;
               position: fixed;
               left: 45%;
               top: 5%;
               transform: translate(-50%, 5%);
               border: 3px solid #999999;
               z-index: 9;
               background-color: burlywood;
               margin-top: 50px;
               margin-left: 60px;
             }

           .formContainer '
             {
               max-width: 300px;
               padding: 20px;
               background-color: beige;
             }

            .formContainer input[type=tex], .formContainer input[type=password] 
             {
               width: 100%;
               padding: 15px;
               margin: 5px 0 20px 0;
               border: none;
               background: #eee;
             }

            .formContainer input[type=text]:focus, .formContainer input[type=password]:focus 
             {
              background-color: #ddd;
              outline: none;
             }

            .formContainer .btn {
              padding: 12px 20px;
              border: none;
              background-color: #8ebf42;
              color: #fff;
              cursor: pointer;
              width: 100%;
              margin-bottom: 15px;
              opacity: 0.8;
             }

            .formContainer .cancel 
             {
              background-color: #cc0000;
             }

            .formContainer .btn:hover, .openButton:hover 
             {
             opacity: 1;
             }

             .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }
            }

            @media (min-width: 960px)
            {
                body
                {
                    font-size: 1.2rem;
                }
                
                .demoo
            {
                font-size: 28px;
                font-family: sans-serif;
            }
    
            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
                font-size: 20px;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
                font-size: 20px;
            }
           
            .image
            {
                display: block;
                max-width: 100%;
                height: 400px;
                width: 800px;
                margin-bottom: 20px;
                margin-top: 80px;
                border: solid;
            }   

          * {
                box-sizing: border-box;
            }

            .openBtn 
            {
               display: flex;
               justify-content: left;
            }

            .openButton 
            {
               border: none;
               border-radius: 5px;
               background-color: #1c87c9;
               color: white;
               padding: 14px 20px;
               cursor: pointer;
               position: fixed;
            }

            .loginPopup 
            {
               position: relative;
               text-align: center;
               width: 100%;
            }

           .formPopup 
            {
               display: none;
               position: fixed;
               left: 45%;
               top: 5%;
               transform: translate(-50%, 5%);
               border: 3px solid #999999;
               z-index: 9;
               background-color: burlywood;
               margin-top: 50px;
               margin-left: 60px;
             }

           .formContainer '
             {
               max-width: 300px;
               padding: 20px;
               background-color: beige;
             }

            .formContainer input[type=tex], .formContainer input[type=password] 
             {
               width: 100%;
               padding: 15px;
               margin: 5px 0 20px 0;
               border: none;
               background: #eee;
             }

            .formContainer input[type=text]:focus, .formContainer input[type=password]:focus 
             {
              background-color: #ddd;
              outline: none;
             }

            .formContainer .btn {
              padding: 12px 20px;
              border: none;
              background-color: #8ebf42;
              color: #fff;
              cursor: pointer;
              width: 100%;
              margin-bottom: 15px;
              opacity: 0.8;
             }

            .formContainer .cancel 
             {
              background-color: #cc0000;
             }

            .formContainer .btn:hover, .openButton:hover 
             {
             opacity: 1;
             }

             .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }
            }
          
            @media (min-width: 1100px)
            {
                body
                {
                    font-size: 1.5rem;
                }
                
                .demoo
            {
                font-size: 28px;
                font-family: sans-serif;
            }
    
            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
                font-size: 20px;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
                font-size: 20px;
            }
           
            .image
            {
                display: block;
                max-width: 100%;
                height: 400px;
                width: 800px;
                margin-bottom: 20px;
                margin-top: 80px;
                border: solid;
            }   

          * {
                box-sizing: border-box;
            }

            .openBtn 
            {
               display: flex;
               justify-content: left;
            }

            .openButton 
            {
               border: none;
               border-radius: 5px;
               background-color: #1c87c9;
               color: white;
               padding: 14px 20px;
               cursor: pointer;
               position: fixed;
            }

            .loginPopup 
            {
               position: relative;
               text-align: center;
               width: 100%;
            }

           .formPopup 
            {
               display: none;
               position: fixed;
               left: 45%;
               top: 5%;
               transform: translate(-50%, 5%);
               border: 3px solid #999999;
               z-index: 9;
               background-color: burlywood;
               margin-top: 50px;
               margin-left: 60px;
             }

           .formContainer '
             {
               max-width: 300px;
               padding: 20px;
               background-color: beige;
             }

            .formContainer input[type=tex], .formContainer input[type=password] 
             {
               width: 100%;
               padding: 15px;
               margin: 5px 0 20px 0;
               border: none;
               background: #eee;
             }

            .formContainer input[type=text]:focus, .formContainer input[type=password]:focus 
             {
              background-color: #ddd;
              outline: none;
             }

            .formContainer .btn {
              padding: 12px 20px;
              border: none;
              background-color: #8ebf42;
              color: #fff;
              cursor: pointer;
              width: 100%;
              margin-bottom: 15px;
              opacity: 0.8;
             }

            .formContainer .cancel 
             {
              background-color: #cc0000;
             }

            .formContainer .btn:hover, .openButton:hover 
             {
             opacity: 1;
             }

             .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }
            }

            @media (min-width: 1350px)
            {
                body
                {
                    font-size: 1.7rem;
                }
                
                .demoo
            {
                font-size: 28px;
                font-family: sans-serif;
            }
    
            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
                font-size: 20px;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
                font-size: 20px;
            }
           
            .image
            {
                display: block;
                max-width: 100%;
                height: 400px;
                width: 800px;
                margin-bottom: 20px;
                margin-top: 80px;
                border: solid;
            }   

          * {
                box-sizing: border-box;
            }

            .openBtn 
            {
               display: flex;
               justify-content: left;
            }

            .openButton 
            {
               border: none;
               border-radius: 5px;
               background-color: #1c87c9;
               color: white;
               padding: 14px 20px;
               cursor: pointer;
               position: fixed;
            }

            .loginPopup 
            {
               position: relative;
               text-align: center;
               width: 100%;
            }

           .formPopup 
            {
               display: none;
               position: fixed;
               left: 45%;
               top: 5%;
               transform: translate(-50%, 5%);
               border: 3px solid #999999;
               z-index: 9;
               background-color: burlywood;
               margin-top: 50px;
               margin-left: 60px;
             }

           .formContainer '
             {
               max-width: 300px;
               padding: 20px;
               background-color: beige;
             }

            .formContainer input[type=tex], .formContainer input[type=password] 
             {
               width: 100%;
               padding: 15px;
               margin: 5px 0 20px 0;
               border: none;
               background: #eee;
             }

            .formContainer input[type=text]:focus, .formContainer input[type=password]:focus 
             {
              background-color: #ddd;
              outline: none;
             }

            .formContainer .btn {
              padding: 12px 20px;
              border: none;
              background-color: #8ebf42;
              color: #fff;
              cursor: pointer;
              width: 100%;
              margin-bottom: 15px;
              opacity: 0.8;
             }

            .formContainer .cancel 
             {
              background-color: #cc0000;
             }

            .formContainer .btn:hover, .openButton:hover 
             {
             opacity: 1;
             }

             .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }
            }

</style>
