<style>

            html
            {
                font-size: 100%;
            }

            @media (min-width: 640px)
            {
                body
                {
                    font-size: 1rem;
                }
            }

            @media (min-width: 960px)
            {
                body
                {
                    font-size: 1.2rem;
                }
            }
          
            @media (min-width: 1100px)
            {
                body
                {
                    font-size: 1.5rem;
                }
            }

            .center
            {   
                font-family: serif;
                font-size: 20px;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }
            
            .img
            {   
                display: block;
                max-width: 100%;
                height: 200px;
                width: 300px;
                align-content: center;
                margin-left: 80px;
                margin-bottom: 20px;
            }

            .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }

            .main
            {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
            }

            .section 
            {
               display: block;
               position: relative;
               max-width: 100%;
               height: auto;
               margin-right: 25px;
               margin-bottom: 30px;
               margin-top: 35px;
               margin-left: 30px;
            }

        </style>
