<style>     
            .demo1
            {
                font-size: 28px;
                font-family: sans-serif;
                font-size-adjust: auto;
            }

            .main
            {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
            }

            .img
            {   
                display: block;
                max-width: 100%;
                height: 200px;
                width: 300px;
                align-content: center;
                margin-left: 80px;
                margin-bottom: 20px;
            }

            .section 
            {
               display: block;
               position: relative;
               max-width: 100%;
               height: auto;
               margin-right: 40px;
               margin-bottom: 30px;
               margin-top: 80px;
               margin-left: 30px;
            }
            
            .center
            {   
                font-family: serif;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 20px;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: antiquewhite;
            }
            
            .imageaboutpage
            {
                display: flex;
/*                max-width: 100%;*/
                height: 300px;
                width: 500px;
                box-shadow: 5px 7px 20px 6px #646464;   
            }

            .navbar-brand
            {
                font-size: 30px;
                font-family: sans-serif;
                text-shadow: 1px 1px #000000;
            }
            
            .first
            {   
                
                font-family: serif;
                font-size: 20px;
            }
            
            .second
            {
               text-align: left;
               font-family: serif;
               font-size: 20px;
               margin-left: 20px;
               margin-right: 1350px;
               font-weight: 400;
               border-radius: 10px; 
               background: #008080;
               padding-left: 10px;
               padding-right: 100px;
            }   

            .cart
            {
               box-shadow: 5px 7px 20px 6px #646464;
               background: #C0C0C0;
            }

            .design
            {
               background: #FFA500;
               box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
               border-radius: 15px;
               margin-left: 100px;
               margin-right: 100px;
               padding-top: 10px;
            }
            
        </style>
        
        
        
